In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
#Store INDUSTRY CSV into DataFrame
csv_file = "Resources/industry_employment.csv"
industry_data_df = pd.read_csv(csv_file)
industry_data_df.head()

,"Annual industry employment movements, 2016-17 to 2018-19",Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,2016-17 ('000),2017-18 ('000),2018-19 ('000)
1,"Agriculture, forestry and fishing",-9,-14,-8
2,Mining,-7,12,10
3,Manufacturing,-7,10,14
4,"Electricity, gas, water and waste services",1,3,5

In [5]:
##  Rename the column headers
industry_data_df = industry_data_df.rename(columns={"Annual industry employment movements, 2016-17 to 2018-19": "industry",
                                                          "Unnamed: 1": "emp_2017",
                                                          "Unnamed: 2": "emp_2018",
                                                          "Unnamed: 3": "emp_2019"})
industry_data_df = industry_data_df.rename(columns={"Industry": "industry"})
## Clean the data
industry_clean_df=industry_data_df.dropna(how='any')
industry_clean_df.head()

                                     industry emp_2017 emp_2018 emp_2019
1           Agriculture, forestry and fishing       -9      -14       -8
2                                      Mining       -7       12       10
3                               Manufacturing       -7       10       14
4  Electricity, gas, water and waste services        1        3        5
5                                Construction       14       47        4

In [6]:
# dropping duplicates and setting the index
#industry_data_df.drop_duplicates("Industry", inplace=True)
industry_clean_df.set_index("industry", inplace=True)

industry_clean_df.head()

                                           emp_2017 emp_2018 emp_2019
industry
Agriculture, forestry and fishing                -9      -14       -8
Mining                                           -7       12       10
Manufacturing                                    -7       10       14
Electricity, gas, water and waste services        1        3        5
Construction                                     14       47        4

In [7]:
#Store EMPLOYMENT CSV into DataFrame
csv_file = "Resources/Industry_EBITDA.csv"
earnings_data_df = pd.read_csv(csv_file)
earnings_data_df.head()

,"Annual industry EBITDA movements, 2016-17 to 2018-19",Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,2016-17 ($m),2017-18 ($m),2018-19 ($m)
1,"Agriculture, forestry and fishing","3,694","-2,258",-998
2,Mining,"23,313","21,399","33,746"
3,Manufacturing,"-1,064","4,201","3,346"
4,"Electricity, gas, water and waste services","3,254",481,670

In [8]:
##  Rename the column headers
earnings_data_df = earnings_data_df.rename(columns={"Annual industry EBITDA movements, 2016-17 to 2018-19": "Industry",
                                                         "Unnamed: 1": "earnings_2017",
                                                          "Unnamed: 2": "earnings_2018",
                                                          "Unnamed: 3": "earnings_2019"})
earnings_data_df = earnings_data_df.rename(columns={"Industry": "industry"})
## Clean the data
earnings_clean_df= earnings_data_df.dropna(how='any')
earnings_clean_df.set_index("industry", inplace=True)
earnings_clean_df.head()

,earnings_2017,earnings_2018,earnings_2019
industry,,,
"Agriculture, forestry and fishing","3,694","-2,258",-998
Mining,"23,313","21,399","33,746"
Manufacturing,"-1,064","4,201","3,346"
"Electricity, gas, water and waste services","3,254",481,670
Construction,435,"3,404","2,504"

In [9]:
#removing the "," from data
earnings_clean_df.earnings_2017 = earnings_clean_df.earnings_2017.str.replace(',', '')

earnings_clean_df.head()


#earnings_clean_df["y_2017"] = pd.to_numeric(earnings_clean_df["y_2017"])

C:\Users\Praveena\anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,earnings_2017,earnings_2018,earnings_2019
industry,,,
"Agriculture, forestry and fishing",3694,"-2,258",-998
Mining,23313,"21,399","33,746"
Manufacturing,-1064,"4,201","3,346"
"Electricity, gas, water and waste services",3254,481,670
Construction,435,"3,404","2,504"

In [10]:
earnings_clean_df.earnings_2018 = earnings_clean_df.earnings_2018.str.replace(',', '')

earnings_clean_df.head()

C:\Users\Praveena\anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,earnings_2017,earnings_2018,earnings_2019
industry,,,
"Agriculture, forestry and fishing",3694,-2258,-998
Mining,23313,21399,"33,746"
Manufacturing,-1064,4201,"3,346"
"Electricity, gas, water and waste services",3254,481,670
Construction,435,3404,"2,504"

In [11]:
earnings_clean_df.earnings_2019 = earnings_clean_df.earnings_2019.str.replace(',', '')
earnings_clean_df.head()

C:\Users\Praveena\anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,earnings_2017,earnings_2018,earnings_2019
industry,,,
"Agriculture, forestry and fishing",3694,-2258,-998
Mining,23313,21399,33746
Manufacturing,-1064,4201,3346
"Electricity, gas, water and waste services",3254,481,670
Construction,435,3404,2504

In [12]:
earnings_clean_df = earnings_clean_df.loc[:, ["earnings_2017", "earnings_2018", "earnings_2019"]]
earnings_clean_df

,earnings_2017,earnings_2018,earnings_2019
industry,,,
"Agriculture, forestry and fishing",3694,-2258,-998
Mining,23313,21399,33746
Manufacturing,-1064,4201,3346
"Electricity, gas, water and waste services",3254,481,670
Construction,435,3404,2504
Wholesale trade,-310,3197,1099
Retail trade,873,516,-325
Accommodation and food services,-972,23,132
"Transport, postal and warehousing",1191,612,1371
Information media and telecommunications,-776,-7,-2050
"Rental, hiring and real estate services",3587,-212,157
"Professional, scientific and technical services",2485,1419,2238
Administrative and support services,1237,-189,109
Public administration and safety (private),133,220,30
Education and training (private),-302,101,374
Health care and social assistance (private),1142,2155,1870
Arts and recreation services,218,556,339
Other services,-119,-482,862

In [13]:
earnings_clean_df = earnings_clean_df.loc[:, ["earnings_2017", "earnings_2018", "earnings_2019"]].astype(int)
earnings_clean_df

,earnings_2017,earnings_2018,earnings_2019
industry,,,
"Agriculture, forestry and fishing",3694,-2258,-998
Mining,23313,21399,33746
Manufacturing,-1064,4201,3346
"Electricity, gas, water and waste services",3254,481,670
Construction,435,3404,2504
Wholesale trade,-310,3197,1099
Retail trade,873,516,-325
Accommodation and food services,-972,23,132
"Transport, postal and warehousing",1191,612,1371
Information media and telecommunications,-776,-7,-2050
"Rental, hiring and real estate services",3587,-212,157
"Professional, scientific and technical services",2485,1419,2238
Administrative and support services,1237,-189,109
Public administration and safety (private),133,220,30
Education and training (private),-302,101,374
Health care and social assistance (private),1142,2155,1870
Arts and recreation services,218,556,339
Other services,-119,-482,862

In [16]:
# sorting the data in ascending order
sort_by_high_earnings = earnings_clean_df.sort_values(["earnings_2017", "earnings_2018", "earnings_2019"], ascending = False)
sort_by_high_earnings

,earnings_2017,earnings_2018,earnings_2019
industry,,,
Mining,23313,21399,33746
"Agriculture, forestry and fishing",3694,-2258,-998
"Rental, hiring and real estate services",3587,-212,157
"Electricity, gas, water and waste services",3254,481,670
"Professional, scientific and technical services",2485,1419,2238
Administrative and support services,1237,-189,109
"Transport, postal and warehousing",1191,612,1371
Health care and social assistance (private),1142,2155,1870
Retail trade,873,516,-325
Construction,435,3404,2504
Arts and recreation services,218,556,339
Public administration and safety (private),133,220,30
Other services,-119,-482,862
Education and training (private),-302,101,374
Wholesale trade,-310,3197,1099
Information media and telecommunications,-776,-7,-2050
Accommodation and food services,-972,23,132
Manufacturing,-1064,4201,3346

In [30]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\praveena\anaconda3\lib\site-packages (2.8.6)
Note: you may need to restart the kernel to use updated packages.

In [31]:
#  create database connection
connection_string = "postgres:Prav123@localhost:5432/Industry_db"
engine = create_engine(f'postgresql://{connection_string}')

In [32]:
# Confirm tables
engine.table_names()

['industry', 'earnings']

In [38]:
industry_clean_df.to_sql(name='industry', con=engine, if_exists='replace', index=True)

In [39]:
earnings_clean_df.to_sql(name='earnings', con=engine, if_exists='replace', index=True)

In [36]:
#Confirm data has been added by querying 
pd.read_sql_query('select * from industry', con=engine)

,industry,emp_2017,emp_2018,emp_2019
0,"Agriculture, forestry and fishing",-9,-14,-8
1,Mining,-7,12,10
2,Manufacturing,-7,10,14
3,"Electricity, gas, water and waste services",1,3,5
4,Construction,14,47,4
5,Wholesale trade,15,-3,17
6,Retail trade,-16,27,21
7,Accommodation and food services,34,20,2
8,"Transport, postal and warehousing",8,15,20
9,Information media and telecommunications,-3,1,-1
10,"Rental, hiring and real estate services",2,13,-3
11,"Professional, scientific and technical services",55,61,56
12,Administrative and support services,42,64,29
13,Public administration and safety (private),1,0,4
14,Education and training (private),7,14,16
15,Health care and social assistance (private),30,66,109
16,Arts and recreation services,-1,8,16
17,Other services,-3,17,14

In [37]:
pd.read_sql_query('select * from earnings', con=engine)

,industry,earnings_2017,earnings_2018,earnings_2019
0,"Agriculture, forestry and fishing",3694,-2258,-998
1,Mining,23313,21399,33746
2,Manufacturing,-1064,4201,3346
3,"Electricity, gas, water and waste services",3254,481,670
4,Construction,435,3404,2504
5,Wholesale trade,-310,3197,1099
6,Retail trade,873,516,-325
7,Accommodation and food services,-972,23,132
8,"Transport, postal and warehousing",1191,612,1371
9,Information media and telecommunications,-776,-7,-2050
10,"Rental, hiring and real estate services",3587,-212,157
11,"Professional, scientific and technical services",2485,1419,2238
12,Administrative and support services,1237,-189,109
13,Public administration and safety (private),133,220,30
14,Education and training (private),-302,101,374
15,Health care and social assistance (private),1142,2155,1870
16,Arts and recreation services,218,556,339
17,Other services,-119,-482,862